/* Add this CSS to a separate stylesheet (e.g., App.css) or a <style> tag in your component */
.search-engine {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.search-input {
  width: 450px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.autocomplete-list {
  position: absolute;
  width: 470px;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
}

.autocomplete-item-selected {
  background-color: #f0f0f0;
}

.clear-history-button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 12px;
  cursor: pointer;
  margin-left: 5px;
}

.search-results {
  margin-top: 20px;
}

.search-result-title {
  font-size: 18px;
  text-decoration: none;
  color: #4285f4;
}

.search-result-description {
  font-size: 14px;
  color: #333;
}
